#last-music{
    width: 100%;
    clear: both;
    margin-top :20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.name{
    width: 40%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.list-group{
    width: 1000px;
    position: relative;
    height: 15em;
    overflow: hidden;
}

.blocos-musics{
    width: 200px;
    height: 200px;
    background-color: #0c0404;
}

.blocos-musics:hover{
    transform: scale(1.2);
    background-color: #FFF;
}

.wrapper{
    width: 11em;
}