#last-music{
    width: 100%;
    clear: both;
    margin-top :20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.name{
    width: 40%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    float: left;
}

.lists {
    padding-left: 50px;
    padding-right: 50px;
}

.list-group{
    width: 60%;
    height: 210px;
    position: relative;
    overflow: hidden;
    float: left;
}

.blocos-musics{
    width: 200px;
    height: 200px;
    background-color: #0c0404;
    margin: 5px;

    -webkit-transform:scale(0.9); 
      -moz-transform:scale(0.9); 
   	-o-transform:scale(0.9);
   	   transform:scale(0.9);
}

/* .blocos-musics:hover{
    transform: scale(1.2);
    background-color: #FFF;
} */

.list-wrapper{
    position: relative;
}

#news{
    clear: both;
}

#popular{
    clear: both;
}