#list{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.blocos-musics{
    width: 200px;
    height: 200px;
    background-color: #0c0404;
    margin: 20px;
}