body {
    background-color: #471616;
    margin: 0;
}

nav {
    background-color: #aaa3a3;
    display: flex;
    align-items: center;
    height: 90px;
}

#nav-title{
    padding-left: 50px;
    width: 25%;
    font-size: 30px;
}

#title {
    color: #FFF;
    text-align: center;
}

#nav-menu{
    font-size: 30px;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-account{
    padding-right: 50px;
}

#menu{
    display: flex;
    align-items: center;
    height: 100%;
}

#menu div{
    display: flex;
    align-items: center;
    height: 100%;
}

#menu div li {
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 20px;
}

#menu div li a {
    text-decoration: none;
    color: rgb(78, 72, 72);
    width: 5em;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#menu div li a:hover {
    background-color: #a71717;
    color: #FFF;
}
