.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inp-search{
    width: 60%;
    height: 3em;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
}

.btns-letter{
    font-size: 45px;
    display: flex;
    align-items: center;
}

.btns-letter span{
    width: 60px;
    margin: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.btns-numeric{
    margin-top: 25px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.btns-numeric span{
    width: 60px;
    margin: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-dir{
    margin-top: 25px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    color: #fff;
}

#btn-space i{
    font-size: 65px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-backspace i{
    font-size: 65px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.blocos-musics{
    width: 200px;
    height: 200px;
    background-color: #0c0404;
    margin: 20px;
}